.weatherApp {
  width: 100rem;
}
.resultView {
  width: 98rem;
}
.resultView__button {
  width: 24rem;
  font-size: 2rem;
}
.mainInfo__icon {
  width: 12rem;
}
.mainInfo__additionalInfomations {
  width: 98rem;
}
.mainInfo__additionalInfoParagraph {
  font-size: 2rem;
}

.forecastChartsContainer__day {
  width: 98rem;
}
.forecastChartsContainer__iconAndDay {
  width: 15rem;
}
.forecastChartsContainer {
  width: 70rem;
}
.forecastChartsContainer__forecastDayIcon {
  width: 10rem;
}
.forecastChartsContainer__forecastDayText {
  font-size: 2rem;
}

.forecastChartsContainer {
  height: 100%;
  overflow: visible;
}
.forecastChartsContainer__chart {
  width: 2rem;
}
.forecastChartsContainer__tempInfo {
  font-size: 1.4rem;
  -webkit-transform: translate(0.5rem);
  -ms-transform: translate(0.5rem);
  transform: translate(0.5rem);
}
.forecastChartsContainer__hourInfo {
  font-size: 1.5rem;
}
.forecastChartsContainer__avarageTemp {
  width: 10rem;
  font-size: 1.5rem;
}
