:root {
  --main-font: "Rubik", sans-serif;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

html {
  font-size: 62.5%;
  color: white;
}

.weatherApp {
  margin: 0 auto;
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.weatherApp__header {
  margin-top: 2rem;
}

.weatherApp__h1 {
  font-size: 3rem;
  text-align: center;
}

.inputView__input {
  width: 27rem;
  height: 5rem;
  border: 3px solid black;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  font-size: 2rem;
  font-family: inherit;
  text-align: center;
}

.resultView__day {
  margin: 0;
  width: 35rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resultView__avarageTemp {
  width: 7rem;
}

.resultView__temperatureChartContainer {
  width: 23rem;
  height: 10rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  font-size: 0.85rem;
  text-align: center;
  transform: scale(0.9);
  overflow: scroll;
}

.resultView__chart {
  width: 1.5rem;
  background-color: orange;
  border-radius: 10px 10px 0 0;
  transition-duration: 2s;
  margin: 0 0.7rem;
  flex-direction: column;
  justify-content: end;
  align-items: initial;
}

.resultView__iconAndDay {
  padding-left: 1rem;
  justify-content: space-between;
  align-self: flex-end;
  align-items: center;
}
.resultView__forecastDayIcon {
  width: 5rem;
}
.resultView__additionalInfomations {
  width: 85%;
  margin-top: 2rem;
  margin-left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__container {
  margin-left: 80%;
  position: absolute;
  bottom: 1rem;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.5rem;
  border-radius: 10px;
}

.footer__container img {
  width: 5rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputView {
  padding-bottom: 2rem;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  transition: all 1s ease-out;
  overflow: hidden;
}
.inputView__userInputContainer {
  display: flex;
  flex-direction: column;
}
.inputView__label {
  margin: 1.5rem;
  font-size: 2rem;
  font-family: var(--main-font);
}

.inputView__errorMsg {
  font-family: var(--main-font);
  color: red;
}

.inputView__button {
  margin-top: 1rem;
  padding: 1rem 0.5rem;
  border: 2px solid white;
  border-radius: 0.4rem;
  background-color: transparent;
  font-family: var(--main-font);
  font-size: 2rem;
  color: white;
}

.resultView {
  width: 50rem;
}

.resultView__mainInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultView__iconImg {
  width: 5rem;
}

.resultView__additionalInfoText {
  margin-top: 1rem;
}

.resultView__feelLikeTempBox {
  transform: translate(-0.5rem);
}
.resultView__dailyForecastWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultView__dailyForecast {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resultView__h3 {
  font-size: 4rem;
  text-align: center;
}
.resultView__forecastButton {
  margin-top: 2rem;
  width: 18rem;
  padding: 1rem 0;
  border: 3px solid white;
  border-radius: 1rem;
  color: white;
  background: transparent;
}

.resultView__temperatureChart {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  font-size: 0.85rem;
  text-align: center;
}

.resultView__resultBox {
  width: 5rem;
  text-align: center;
}
.resultView__hourInfo {
  color: salmon;
}
.resultView__tempInfo {
  transform: translate(-0.2rem, -1rem);
}

.resultView__button {
  margin-top: 8rem;
  width: 18rem;
  padding: 1rem 0;
  color: white;
  border: 3px solid white;
  border-radius: 1rem;
  background: transparent;
}

footer p {
  margin-right: 1rem;
  color: white;
}
.footer__a {
  color: white;
}

.inputView__loader {
  display: none;
  position: relative;
  width: 80px;
  height: 80px;
  transform: scale(0.5);
  top: 13.5rem;
  left: 21.1rem;

  width: 80px;
  height: 80px;
  transform: scale(0.5);
}
.inputView__loaderElement {
  animation: loaderAnimation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.inputView__loaderElement {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
  margin: -4px 0 0 -4px;
}
.inputView__loaderElement:nth-child(1) {
  animation-delay: -0.036s;
}
.inputView__loaderElement:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.inputView__loaderElement:nth-child(2) {
  animation-delay: -0.072s;
}
.inputView__loaderElement:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.inputView__loaderElement:nth-child(3) {
  animation-delay: -0.108s;
}
.inputView__loaderElement:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.inputView__loaderElement:nth-child(4) {
  animation-delay: -0.144s;
}
.inputView__loaderElement:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.inputView__loaderElement:nth-child(5) {
  animation-delay: -0.18s;
}
.inputView__loaderElement:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.inputView__loaderElement:nth-child(6) {
  animation-delay: -0.216s;
}
.inputView__loaderElement:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.inputView__loaderElement:nth-child(7) {
  animation-delay: -0.252s;
}
.inputView__loaderElement:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.inputView__loaderElement:nth-child(8) {
  animation-delay: -0.288s;
}

.hidden {
  display: none;
}

@keyframes loaderAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
