







:root {
    --main-font:'Rubik', sans-serif;
    --app-width:60rem;
    --app-height:85rem;
    --app-width-forecastData:100rem;
}



*,
*::after,
*::before {
    font-family: var(--main-font); 
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
    
}

html {
    font-size: 62.5%;
    color:white;
    
}

.container {
    
    width: 90%;
    margin:0 auto;
}

header {
    margin-top:2rem;
}

h1 {
    font-size: 3rem;
    
    text-align: center;
}

h3 {
  font-size: 4rem;
    
    text-align: center;
}

main {
   
  
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.weatherInfo {
  width:var(--app-width);
  
  padding-bottom: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(0,0,0,0.8);
  transition: all 1s ease-out ;
  overflow: hidden; 
 

}




.weatheInfo__inputBox {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.weatherInfo__label {
    margin:1.5rem;
    font-size:2rem;
    font-family: var(--main-font);
    
}

.weatherInfo__inputBox__inputContainer {
display: flex;
align-items: center;
justify-content: center;
margin-left: 6rem;
}

.weatherInfo__input {
    margin: 1rem 6rem;
    padding: 1rem 3rem;
    border:3px solid white;
    color:white;
    background-color:rgba(0,0,0,0.7);
    border-radius: 1rem;
    font-family: var(--main-font);
    font-size:2.5rem;
    text-align: inherit;
}

.weatherInfo__errorMsg {
    font-family: var(--main-font);
    color:red;
    
}

.weatherInfo__button {
    margin-top:1rem;
    padding:1rem 0.5rem;
    border:2px solid white;
    color:white;
    border-radius: 0.4rem;
    background-color: transparent;
    font-family: var(--main-font);
    font-size:2rem;

}

.weartherInfo__modal {
width: 50rem;
}

.weartherInfo__modal__mainInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weartherInfo__modal__additionalInfomations {
    margin-top: 2rem;
    display: flex;
    
    justify-content: space-around;
    align-items: center;
}
.weartherInfo__modal__additionalInfomations * img {
    width: 5rem;
}


.weartherInfo__modal__additionalInfomations__text {
    margin-top:1rem;
}
.weartherInfo__modal__additionalInfomations__text__windDirection {
    margin:0rem;
}
.weartherInfo__modal__dailyForecast__avarageTemp {

  width:initial;
}
.weartherInfo__modal__additionalInfomations__box__feelLike {
    transform: translate(-0.5rem);
}
.weartherInfo__modal__buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weartherInfo__modal__dailyForecast {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:2rem;
}



.weartherInfo__modal__dailyForecast__day{
    margin: 2rem 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 90rem;
}

.weartherInfo__modal__dailyForecast__day__iconAndDay{
    padding-left:0;
    justify-content: space-between;
    align-items: center;
   
}

.weartherInfo__modal__dailyForecast__day__iconAndDay img {
  width: 7rem;
}

.weartherInfo__modal__forecastButton {
    
    margin-top:2rem;
    
    width:18rem;
    padding: 1rem 0;
    color:white;
    border:3px solid white;
    border-radius: 1rem;
    background:transparent;

}
.weartherInfo__modal__dailyForecast__day__temperatureChart {
    display:flex;
    align-items: flex-end;
    justify-content: space-around;
   
    font-size: 0.85rem;
    text-align: center;
    margin: 1rem;

  
    
}


.weartherInfo__modal__dailyForecast__day__temperatureChart__chart {
    background-color: orange;
    border-radius: 10px 10px 0 0;
    transition-duration:2s;
    width:2rem;
    margin: 0 0.5rem;
    flex-direction: column;
    justify-content: end;
    align-items: initial;

    
}

.weartherInfo__modal__dailyForecast__day__temperatureChart :nth-child(1) {
  padding-left: 0rem;
}

.weartherInfo__modal__additionalInfomations__box {
    text-align: center;
    width: 5rem;
}
.weartherInfo__modal__additionalInfomations__box__hourInfo {
    
    color:salmon;
}
.weartherInfo__modal__additionalInfomations__box__tempInfo {
    transform: translate(0px, -1rem);
}

.weartherInfo__modal__button {
    margin-top: 8rem;
    width:18rem;
    padding: 1rem 0;
    color:white;
    border:3px solid white;
    border-radius: 1rem;
    background:transparent;
}

.footer__container {
    position: fixed;
    bottom:1rem;
    margin-left: 87%;
    transform: translate(-50%);
    display:flex;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    padding: 0.5rem;
    border-radius: 10px;
}
footer p {
    margin-right: 1rem;
    color:white;
}
footer a {
  color:white
}





.loader {
display: none;
position: relative;
width: 80px;
height: 80px;
transform: scale(0.5);
top: 13.5rem;
left: 21.1rem;
 
  width: 80px;
  height: 80px;
  transform:scale(0.5)
}
.loader div {
  animation: loaderAnimation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
  
}
.loader > div {
  background-color: white;
}
.loader div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
  margin: -4px 0 0 -4px;
}
.loader div:nth-child(1) {
  animation-delay: -0.036s;
}
.loader div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.loader div:nth-child(2) {
  animation-delay: -0.072s;
}
.loader div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.loader div:nth-child(3) {
  animation-delay: -0.108s;
}
.loader div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.loader div:nth-child(4) {
  animation-delay: -0.144s;
}
.loader div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.loader div:nth-child(5) {
  animation-delay: -0.18s;
}
.loader div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.loader div:nth-child(6) {
  animation-delay: -0.216s;
}
.loader div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.loader div:nth-child(7) {
  animation-delay: -0.252s;
}
.loader div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.loader div:nth-child(8) {
  animation-delay: -0.288s;
}




  
  
  .hidden { 
    display:none;
}






  @keyframes loaderAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  

