:root {
    --main-font:'Rubik', sans-serif;
    
}



*,
*::after,
*::before {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    font-size: 62.5%;
}

.container {
    margin:2rem auto 0rem auto;
    width: 90%;
}

h1 {
    font-size: 3rem;
    font-family: var(--main-font);
    text-align: center;
}

main {
   height:40rem;
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.weatherInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    text-align:center;
}


.weatheInfo__inputBox {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.weatherInfo__label {
    margin-bottom:1.5rem;
    font-size:2rem;
    font-family: var(--main-font);
    
}
.weatherInfo__input {
    padding: 1rem 3rem;
    border:3px solid black;
    border-radius: 1rem;
    font-family: var(--main-font);
    font-size:2.5rem;
   text-align: inherit;
}

.weatherInfo__errorMsg {
    font-family: var(--main-font);
    color:red;
    
}

.weatherInfo__button {
    margin-top:1rem;
    padding:1rem 0.5rem;
    border:2px solid black;
    border-radius: 0.4rem;
    background-color: transparent;
    font-family: var(--main-font);
    font-size:2rem;

}

.weartherInfo__modal {
width: 90%;
}

.weartherInfo__modal__mainInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weartherInfo__modal__additionalInfomations {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.weartherInfo__modal__additionalInfomations__box__feelLike img {
    width: 12%;
}

.weartherInfo__modal__dailyForecast {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:2rem;
}



.weartherInfo__modal__dailyForecast__day{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.weartherInfo__modal__dailyForecast__day__iconAndDay{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 29%;
}

.weartherInfo__modal__forecastButton {
    
    margin-top:2rem;
    margin-left: 50%;
    width:18rem;
    padding: 1rem 0;
    transform: translate(-50%);
    border:3px solid black;
    border-radius: 1rem;
    background:transparent;

}
.weartherInfo__modal__dailyForecast__day__temperatureChart {
    display:flex;
    align-items: baseline;
    justify-content: space-around;
    flex-grow:2;
    font-size: 0.2rem;
    text-align: center;
}

.weartherInfo__modal__dailyForecast__day__temperatureChart__chart {
    background-color: blue;
    width:1rem;
}

.weartherInfo__modal__additionalInfomations__box {
    text-align: center;
}

.weartherInfo__modal__button {
    margin-top:2rem;
    margin-left: 50%;
    width:18rem;
    padding: 1rem 0;
    transform: translate(-50%);
    border:3px solid black;
    border-radius: 1rem;
    background:transparent;

}
.hidden { 
    display:none;
}