.weatherApp {
  height: 100%;
}

.inputView {
  min-width: 60rem;
}

.resultView {
  width: 100%;
}
.resultView__h3 {
  margin-top: 2rem;
}
.resultView__icon {
  width: 9rem;
}
.resultView__day {
  width: 75rem;
  height: 100%;
}
.resultView__iconAndDay {
  padding: 0;
}
.resultView__temperatureChartContainer {
  width: 63rem;
  height: 18rem;
  overflow: initial;
}
.resultView__avarageTemp {
  width: 7rem;
  height: 9rem;
  display: flex;
  align-items: flex-end;
}
.resultView__button {
  margin-top: 3rem;
}
.footer__container {
  margin-left: 86%;
  position: fixed;
}
