.weatherApp {
  width: 75rem;
}
.resultView {
  width: 72rem;
}
.mainInfo__additionalInfomations {
  width: 60rem;
}
.mainInfo__additionalInfoParagraph {
  font-size: 1.5rem;
}
.forecastChartsContainer__day {
  width: 72rem;
}
.forecastChartsContainer__iconAndDay {
  width: 11rem;
}
.forecastChartsContainer__forecastDayIcon {
  width: 8rem;
}
.forecastChartsContainer__forecastDayText {
  font-size: 1.5rem;
}
