:root {
    --app-width: 60rem;
    --app-width: 76rem;
    --app-width-forecastData: 76rem;
}
.weartherInfo__modal__dailyForecast__day {
    margin: 3rem;
    width: 76rem;
}
.weartherInfo__modal__dailyForecast__day__temperatureChart__chart {
    width: 1.5rem;
}
.weartherInfo__modal__dailyForecast__day__iconAndDay  img{
    width: 4rem;
}

.weartherInfo__modal__dailyForecast__day__temperatureChart :nth-child(1) {
    padding-left: 0rem;
}

.weartherInfo__modal__dailyForecast__day__temperatureChart__container {
    width:auto;
    height:auto;
    overflow: visible;
    display:flex;
    align-items: flex-end;
    justify-content: space-around;
    font-size: 0.85rem;
    text-align: center;
    transform: scale(1);
}
.weartherInfo__modal__button {
    margin-top: 3rem;
    
}
.footer__container {
    margin-left: 86%;
}